$color_prime_orange: #fa7b53;
$color_prime_green: #bbd444;
$color_prime_white: #faf4ee;
$color_prime_yellow: #fcd744;

$color_shadow_02: rgba(0,0,0,.2);
$color_shadow_03: rgba(0,0,0,.3);
$color_shadow_04: rgba(0,0,0,.4);
$color_shadow_05: rgba(0,0,0,.5);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Gowun Batang', sans-serif;
	font-weight: 400;
	color: black;
}
li {
	list-style-type: none;
}
a {
	color: inherit;
	text-decoration: none;
}
img {
	max-width: 100%;
	vertical-align: top;
}

/* Layouts */
.l_wrapper {
	max-width: 1000px;
	width: auto;
	margin: 0 auto;
	padding: 0 30px;
	position: relative;
}

.l_row {
	width: 105%;
	/* float: left; */
	margin-left: -15px;
	position: relative;
}

.l_col {
	float: left;
	box-sizing: border-box;
	padding: 0 10px;
	margin: auto;
}

.l_main {
	overflow: hidden;
	margin: 1em 0;
}

.content {
	margin-top: 17em;
	@media ( max-width: 500px ) {
		margin-top: 135px;
	}
}
