/* Typography */
#app {
	font-family: sans-serif;
	line-height: 1.4;
	// font-size: 62.5%;
}
// body {
// 	font-size: 1.4rem
// 	background-color: #faf4e4;
// }

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-size: 100%;
	font-weight: normal;
}
